/* Add your custom styles here */

@font-face {
  font-family: pooh;
  src: url(pooh.ttf);
}

body{
	background-image:url("background.jpeg");;
	background-repeat: no-repeat;
	background-size: cover;
}



h1 {
-webkit-text-stroke: 1px yellow;
	font-family:pooh;
	font-size:100px;
}

h2 {
	-webkit-text-stroke: 1px yellow;

	font-family:pooh;
	font-size:50px;
}

p{
	 -webkit-text-stroke: 1.4px black;
	color:yellow;
	font-family:pooh;
	font-size:30px;
}